.sidebar {
  width: 230px;
  height: 100vh;
  background-color: white;
  border-right: 1px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.avatar-sidebar {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

.socmed {
  text-align: center;
  margin-bottom: 10px;
}

li {
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
